.op{
    background-color: rgba(0, 0, 0, 0.842);
    color:white;
    padding:30px;
    width: 60vw;

    border-radius: 20px;
    margin:auto;
    margin-bottom: 20px;
    margin-top: 20px;
}
.ip{
    
    margin:auto;
    width:fit-content;
}
body{
    background-color: rgb(54, 54, 54);
    color:white;
}
.container{
    background-color: rgba(119, 119, 119, 0.335);
    position:absolute;
    left:50%;
    transform:translateX(-50%);
    padding:30px;
    width: fit-content;
    border-radius: 20px;
    margin:50px;

}
.buttons{
    position:relative;
    margin:auto;
    width:fit-content;

}
.script{
    
    margin-top:10px;
    position:relative;
    left:50%;
    transform:translateX(-50%);
    /* width:10px; */
}
button{
    padding:10px;
    color:white;
    background-color: rgba(0, 0, 0, 0.705);
    border-radius: 10px;
}
a{
    color:rgb(192, 131, 250);
}
html {
    overflow: scroll;
    overflow-x: hidden;
}
::-webkit-scrollbar {
    width: 0;  /* Remove scrollbar space */
    background: transparent;  /* Optional: just make scrollbar invisible */
}
/* Optional: show position indicator in red */
::-webkit-scrollbar-thumb {
    background: #FF0000;
}